

.product_box img {
   width:250px;
   margin:  auto;
   /* padding: 20px; */
}
.pr_main{
   display: flex;
   justify-content:space-around;
   flex-wrap: wrap;
}
.pr_text {
    margin-top: 15px;
}

.pr_text h3 {
    /* text-align: right; */
    font-size: 18px;
    /* color: gray; */
    /* margin: 5px; */
}
.pr_text h4 {
    text-align: right;
    font-size: 25px;
    color: gray;
    margin: 5px;
}
.ct_btn button {
    padding: 5px 10px;
    margin: 0px 10px;
}
.ct_btn{
  text-align: center;
}
button.cart_btn {
    background: coral;
    font-size: 15px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
   border:none

}

.active{
    background: coral;
   /* border:none */
}